---
title: Sarath's Projects
layout: projects
---
{% include theme-option.html %}
<div class="header">
    <div class="header-row">
        <div class="title-section">
            <span class="header-title">Projects</span>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="projects">
        {% for project in site.data.portfolio.projects %}
                <div class="project-card">
                    <div class="showcase">
                        <img src="{{ project.showcase_url }}" alt="Showcase" class="image">
                    </div>
                    <div class="project-details">
                        <a href="{{ project.github_link }}">
                            <span class="project-name">{{ project.name }}</span>
                        </a>
                        <p class="project-description">{{ project.description }}</p>
                        <p class="tech-stack">
                            Uses 
                            {% for techStack in project.tech_stack %}
                                {% if techStack == project.tech_stack.last %}
                                    {{ techStack }}. 
                                {% else %}
                                    {{ techStack }}, 
                                {% endif %}
                            {% endfor %}
                        </p>
                        <a href="{{ project.release_link }}" target="_blank">
                            <button class="releases-button">Releases</button>
                        </a>
                    </div>
                </div>
            {% endfor %}
    </div>
</div>


<div class="footer">
    <div class="copyright" id="footerCopyrightYear"></div>
</div>

<script>
    var footerText = document.getElementById('footerCopyrightYear')
    var currentDate = new Date().getFullYear()
    footerText.innerHTML = "&copy; 2020 - "+currentDate+" Sarath S"
</script>