/* Mobile designs */
.header{
    background-color: var(--card-color);
}

.header-row{
    display: grid;
    align-items: center;
    justify-items: center;
}

.header-title {
    font-size: 3rem;
    font-family: Barlow-Bold;
}

.projects{
    padding-top: 1rem;
    width: 100%;
}

.project-card{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    background-color: var(--card-color);
    margin: 20px 0px;
    width: 100%;
}

.image {
    width: 100%;
    height: auto;
    top: 50%;
    transform: translateY(-50%)
}

.showcase {
}

.project-details{
    padding: 1rem;
}

.project-name{
    font-size: 2rem;
    margin-bottom: 5px;
    font-family: Barlow-Medium;
    color: var(--hyperlink-color);
    text-decoration: underline;
}

.project-description {
    font-size: 1.2rem;
}

.tech-stack {
}

.releases-button {
    border-radius: 4px;
    padding: 5px 10px;
    border: none;
    padding: none;
    text-align: center;
    font-family: Barlow-SemiBold;
    color: var(--card-color);
    background-color: var(--btn-color);
}

.footer {
    background-color: var(--card-color);
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 1rem;
}

.showcase.is-fullscreen .image {
    max-width: 100%;
    max-height: 100%;
    margin-right: 50px;
    object-fit: contain;
}

.flickity-enabled.is-fullscreen{
    padding-bottom: 0;
}

.flickity-prev-next-button {
    width: 32px;
    height: 32px;
    background: var(--bg);
}

.flickity-prev-next-button .arrow {
    fill: var(--text-color);
}

.flickity-prev-next-button.no-svg {
    color: var(--text-color);
}

.flickity-prev-next-button:disabled {
    display: none;
}

.flickity-button:hover {
    background: var(--bg);
}

/* small tablets and landscape phones*/
@media screen and (min-width: 720px){
    
    .project-card{
        grid-template-columns: 1fr 1fr;
    }
}

/* Desktop styles */
@media screen and (min-width: 1200px){
    
    .container-fluid {
        width: 80%;
    }

    .releases-button {
        font-size: 1.2rem;
    }
}