body {
    --bg: #d4e8d0;
    --card-color: #b8ccb5;
    --text-color: #003912;
    --btn-color:#5b805c;
    --home-text-color:#1e5027;
}

body.dark {
    --bg: #0f1f11;
    --card-color: #102713;
    --text-color: #b8f0b8;
    --btn-color:#95cc97;
    --home-text-color: #c6ffc6;
}