<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% include favicons.html %}
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="../assets/css/util/common.css">
  <link rel="stylesheet" href="../assets/css/lib/flickity.css" media="screen">
  <link rel="stylesheet" href="../assets/css/portfolio.css">
</head>

<body>
  {{ content }}
  <script src="../assets/js/lib/jquery.js"></script>
  <script src="../assets/js/lib/flickity.pkgd.min.js"></script>
</body>

</html>